.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .success-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .success-message {
    font-size: 18px;
    color: #666;
  }
  
  .success-image-container {
    margin-top: 30px;
  }
  
  .success-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  
  .thank-you-message {
    font-size: 18px;
    color: #666;
    margin-top: 30px;
  }
  